<article class="card mb-4">
    <div class="card-body">
        <p>vasoChico:       {{this.vasoC}}</p>
        <p>vasoMediano:     {{this.vasoM}}</p>
        <p>vasoGrande:      {{this.vasoG}}</p>
        <p>conoChico:       {{this.conoC}}</p>
        <p>conoMediano:     {{this.conoM}}</p>
        <p>conoGrande:      {{this.conoG}}</p>
        <p>aguaChica:       {{this.aguaC}}</p>
        <p>aguaMediana:     {{this.aguaM}}</p>
        <p>aguaGrande:      {{this.aguaG}}</p>
        <p>ensaladaChica:   {{this.ensaladaC}}</p>
        <p>ensaladaGrande:  {{this.ensaladaG}}</p>
        <p>paletaAgua:      {{this.paletaA}}</p>
        <p>paletaLeche:     {{this.paletaL}}</p>
        <p>nachos:          {{this.nachos}}</p>
       </div>
</article>
    
