
<article class="card mb-4">
    <div class="card-body">
        <p>Vaso de nieve chico:         {{this.vasoNieveChico}}</p>
        <p>Vaso de nieve mediano:       {{this.vasoNieveMediano}}</p>
        <p>Vaso de nieve grande:        {{this.vasoNieveGrande}}</p>
        <p>Cono chico:                  {{this.conoChico}}</p>
        <p>Cono mediano:                {{this.conoMediano}}</p>
        <p>Cono grande:                 {{this.conoGrande}}</p>
        <p>Vaso de agua chica:          {{this.vasoAguaChico}}</p>
        <p>Vaso de agua mediana:        {{this.vasoAguaMediano}}</p>
        <p>Vaso de agua grande:         {{this.vasoAguaGrande}}</p>
        <p>Bandeja de ensalada chica:   {{this.bandejaChica}}</p>
        <p>Bandeja de ensalada chica:   {{this.bandejaGrande}}</p>
        <p>Plato de nachos:             {{this.platoNachos}}</p>
        <a href="/inventario/editar/{{this._id}}" class="btn btn-warning">Editar</a>
    </div>
</article>
    