
<article class="card mb-4">
    <div class="card-body">
        <p>vasoChico:       {{this.vasoChico}}</p>
        <p>vasoMediano:     {{this.vasoMediano}}</p>
        <p>vasoGrande:      {{this.vasoGrande}}</p>
        <p>conoChico:       {{this.conoChico}}</p>
        <p>conoMediano:     {{this.conoMediano}}</p>
        <p>conoGrande:      {{this.conoGrande}}</p>
        <p>aguaChica:       {{this.aguaChica}}</p>
        <p>aguaMediana:     {{this.aguaMediana}}</p>
        <p>aguaGrande:      {{this.aguaGrande}}</p>
        <p>ensaladaChica:   {{this.ensaladaChica}}</p>
        <p>ensaladaGrande:  {{this.ensaladaGrande}}</p>
        <p>paletaAgua:      {{this.paletaAgua}}</p>
        <p>paletaLeche:     {{this.paletaLeche}}</p>
        <p>nachos:          {{this.nachos}}</p>
        <a href="/registroVentas/eliminar/{{this._id}}" class="btn btn-danger">Eliminar</a>
        <a href="/registroVentas/editar/{{this._id}}" class="btn btn-warning">Editar</a>
    </div>
</article>
    
