
<article class="card mb-4">
    <div class="card-body">
        <p>Vaso chico:       {{this.precio_vasoChico}}</p>
        <p>Vaso mediano:     {{this.precio_vasoMediano}}</p>
        <p>Vaso grande:      {{this.precio_vasoGrande}}</p>
        <p>Cono chico:       {{this.precio_conoChico}}</p>
        <p>Cono mediano:     {{this.precio_conoMediano}}</p>
        <p>Cono grande:      {{this.precio_conoGrande}}</p>
        <p>Agua chica:       {{this.precio_aguaChica}}</p>
        <p>Agua mediana:     {{this.precio_aguaMediana}}</p>
        <p>Agua grande:      {{this.precio_aguaGrande}}</p>
        <p>Ensalada chica:   {{this.precio_ensaladaChica}}</p>
        <p>Ensalada grande:  {{this.precio_ensaladaGrande}}</p>
        <p>Paleta agua:      {{this.precio_paletaAgua}}</p>
        <p>Paleta leche:     {{this.precio_paletaLeche}}</p>
        <p>nachos:           {{this.precio_nachos}}</p>
        <a href="/precios/editar/{{this._id}}" class="btn btn-warning">Editar</a>
    </div>
</article>
    